debug_outputs/*
debug_outputs
__pycache__/*
*.pyc
__pycache__
*/__pycache__/*
debug_outputs/layer_a_delimited.gcode
debug_outputs/layer_a_delimited.gcode
debug_outputs/layer_a.gcode
debug_outputs/layer_b_delimited.gcode
debug_outputs/layer_b.gcode
gcode_preprocessing/gcode_utils.py
og_marlin.gcode
debug_outputs/layer_a_delimited.gcode
debug_outputs/layer_a.gcode
debug_outputs/layer_b_delimited.gcode
debug_outputs/layer_b.gcode
slurm/*
renders/*
45337768_0_input.gcode
45337768_0_output.gcode
45337768_1_input.gcode
45337768_1_output.gcode
*.gcode
*.out
*.err
0_pred_checkpoint-100.png
2_test.png
all_layers.png
layer_2.0.png
layer_10.0.png
debug_outputs/layer_a_delimited.gcode
debug_outputs/layer_a.gcode
debug_outputs/layer_b_delimited.gcode
debug_outputs/layer_b.gcode
debug_outputs/layer_a_delimited.gcode
debug_outputs/layer_a.gcode
debug_outputs/layer_b_delimited.gcode
debug_outputs/layer_b.gcode
model_eval/eval_model.sh
gcode_preprocessing/preprocess_array_small.sh
gcode_preprocessing/preprocess_array.sh
gcode_preprocessing/preprocess_gcode.sh
gcode_preprocessing/preprocess_slurm.sh
gcode_preprocessing/test_extrusion.sh
model_eval/ar_gen.sh
model_eval/eval_model.sh
model_eval/make_shapes_slurm.sh
model_eval/make_shapes.sh
model_training/debug_peft.sh
model_training/peft_array_small.sh
model_training/peft_array.sh
model_training/peft_debug.sh
model_training/peft_overfit.sh
model_training/peft_slurm.sh
model_training/peft_slurm2.sh
gcode_preprocessing/preprocess_array.sh
gcode_preprocessing/preprocess_gcode.sh
model_eval/ar_gen.sh
model_eval/eval_model.sh
model_eval/make_shapes.sh
gcode_preprocessing/preprocess_array.sh
gcode_preprocessing/preprocess_gcode.sh
model_eval/ar_gen.sh
model_eval/eval_model.sh
model_eval/make_shapes.sh
